@import '../lib/functions';
@import '../lib/variables';

ui-app {
  display: block;
  color: readable($background);
  background: $background;
  font-family: Open Sans;
  font-size: 16px;
  margin: 0;

  * {
    -webkit-touch-callout: none;
    box-sizing: border-box;
  }
}
